    :root{
    --cor-fundo: #8a15ff;
    --cor-principal: #000000;
    --cor-secundaria: #1c2eba;
    --cor-destaque: #d6377e;
    --cor-texto: #fceb08;
}
body{
    background-color: var(--cor-fundo);
    color: var(--cor-texto);
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}
button{
    background-color: var(--cor-secundaria);
    color: var(--cor-texto);
    border: none;
    border-radius: 15px;
    padding: 15px;
    transition: background-color 0.3s;
}
button:hover{
    background-color: var(--cor-destaque);
    color: var(--cor-principal);
}
