:root{
    --cor-fundo:#000000 ;
    --cor-principal:#708090;
    --cor-secundaria:#40E0D0;
    --cor-destaque:#8B0000;
    --cor-texto:#DCDCDC;
}
body{
     background-color: var(--cor-fundo);
     color: var(--cor-texto);  
     display: flex;
     align-items: center;
     justify-content: center;
     min-height: 100vh;             
}